
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1461999752'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1461999752#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1461999752') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1461999752') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1461999752#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  /*font-size:16px;*/
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.9rem;
  position: absolute;
}
.icon-black{
    color: #636161;
}
.icon-white{
    color: #fff;
}
.icon-reset01:before { content: "\e66c"; }
.icon-reset01{
    font-size: 2rem;
    color: #a27eaf;
}
.icon-shuipingzuo:before { content: "\3437"; }
.icon-shuipingzuo{
    top: .01rem;
    left: .55rem;
}
.icon-shuangyuzuo:before { content: "\3438"; }
.icon-mojiezuo:before { content: "\3439"; }
.icon-chunvzuo:before { content: "\343a"; }
.icon-shizizuo:before { content: "\343b"; }
.icon-juxiezuo:before { content: "\343c"; }
.icon-tianhezuo:before { content: "\343d"; }
.icon-sheshouzuo:before { content: "\343e"; }
.icon-tianchengzuo:before { content: "\343f"; }
.icon-shuangzizuo:before { content: "\3440"; }
.icon-jinniuzuo:before { content: "\3441"; }
.icon-muyangzuo:before { content: "\3442"; }
