
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>TheSameWorld</title>
        <link rel="stylesheet" href="./css/style.css" charset="utf-8">
        <link rel="stylesheet" href="./css/reset.css" charset="utf-8">
        <link rel="stylesheet" href="./css/iconfont.css" charset="utf-8">
    </head>
    <body ng-app="myapp">
        <header>
            <h1>The Same World</h1>
        </header>

        <section class="world" ng-controller="SameWorld" ng-cloak>
            <h1 class="level">{{level}}</h1>
            <div class="reset-button" ng-click="reset()"><i class="iconfont icon-reset01"></i></div>
            <p class="warning" ng-show="suggestion">请从起点开始</p>

            <div class="circleWrapper" ngd-click="clickCircle($event, $parent.$index, $index, line)" selector="li">
                <ul ng-repeat="line in lines track by $index">
                    <li class="circle" ng-repeat="circle in line track by $index" ng-class="{'black': circle === 0, 'white': circle === 1}" ng-dblclick="end()">
                        <i class="iconfont icon-shuipingzuo" ng-show="isOrigin($parent.$index, $index)" ng-class="{'icon-black': circle === 1, 'icon-white': circle === 0}"></i>
                        <canvas class="canvas canvasRowL" width="20" height="20" ng-show="isShow($parent.$index, $index, 'left')"></canvas>
                        <canvas class="canvas canvasRowR" width="20" height="20" ng-show="isShow($parent.$index, $index, 'right')"></canvas>
                        <canvas class="canvas canvasColumnUp" width="20" height="20" ng-show="isShow($parent.$index, $index, 'up')"></canvas>
                        <canvas class="canvas canvasColumnD" width="20" height="20" ng-show="isShow($parent.$index, $index, 'down')"></canvas>
                    </li>
                </ul>
            </div>
            <h1 class="success" ng-show="success">success!</h1>
            <h1 class="failure" ng-show="failure">fail!</h1>
        </section>

        <script src="./lib/angular.min.js" charset="utf-8"></script>
        <script src="./lib/angular-delegates.js" charset="utf-8"></script>
        <script src="./js/controller/world.js" charset="utf-8"></script>
        <script src="./js/services/dataStore.js" charset="utf-8"></script>
    </body>
</html>
